body {
	font-family: 'Arial';
	border: 3px groove #000;
	color: #333;
  margin: 0;
}

#page {
	margin: 0 auto;
  max-width: 1320px;
}

p {
	font-size: 16px;
}

header {
	padding: 1em 4.5455% 5.25em;
  display: flex;
  flex-direction: column;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div img {
  width: 100px;
  margin-right: 32px;
}
header div a {
  text-decoration: none;
  color: #000;
  font-size: 32px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1.75em;
}

nav ul {
  padding: 0;
  display: flex;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav li a {
  padding: 5px;
  color: #000;
  text-decoration: none;
}
main {
  padding: 0 4.5455%;
}
main h1 {
  font-size: 2.5rem;
  margin-bottom: 1.05em;
}
main p {
  line-height: 1.75;
}
main div ul {
  list-style: none;
  padding: 0;
}
main div ul li {
  margin-bottom: 5px;
}
